In [106]:
import os
import pandas as pd
import numpy as np
from datetime import datetime

In [107]:
scope_traces=[] #this will be the list of dataframes
file_names=os.listdir('Measurement data')

Provjera upload-a:

In [108]:
file_names[0]

'01012016.xls'

Odabir kolona iz Excel sheetova za svaki fajl:

In [109]:
column_indices1=list(range(2))
column_indices2=list((np.arange(1,3)))
column_indices3=list((np.arange(1,6)))
columns_from_sheets={'Plinomjer istočna zgra 00039413':column_indices1,'Brojilo el.energije su 35649294':column_indices2,"Brojilo el.energije tr 35649314":column_indices2,'Vodomjer stara 09249850':[1],'Vodomjer nova 09249847':[1],'Vodomjer hidrant 10058705':[1],'Brojilo el.energije ko 46621646':column_indices2,
'Brojilo el.energije po 38878959':column_indices2,'Brojilo el.energije kl 46868995':column_indices2,'Kalorimetar 1 39024788':column_indices3,
 'Kalorimetar 2 39024724':column_indices3,'Kalorimetar 3 39024787':column_indices3,'Temp.senzor un.1 24003403':column_indices2,'Temp.senzor un.2 24004659':column_indices2,
 'Temp.senzor un.3 24003393':column_indices2,'Temp.senzor un.4 24004658':column_indices2,'Temp.senzor un.5 24007590':column_indices2,'Temp.senzor un.6 24007412':column_indices2,'Temp.senzor un.7 24007548':column_indices2,'Temp.senzor un.8 24007403':column_indices2, 'Temp.senzor vanj.1 25000099':column_indices2,'Plinomjer zapadna zgra 20526379':[1]   }

Preuzimanje podataka iz svakog sheet-a i spajanje u jedan sheet za svaki dan pojedinačno. Iz odabira je isključen sheet 'Brojilo el.energije Lo 46622131', jer je prazan. Sheetovi imaju različite nazive kroz fajlove, pa se moraju staviti u petlju. Ovaj korak malo duže traje prilikom izvršavanja.

In [112]:
df_all_files=[None]*len(file_names)

column_indices=list(columns_from_sheets.values())
for file in file_names:
    xls=pd.ExcelFile('Measurement data\\'+file)
    sheet_names=xls.sheet_names
    delete_names=['Brojilo el.energije Lo 46622131',]
    selected_sheet_names=[ele for ele in sheet_names if ele not in delete_names]
    
    df=[None]*len(selected_sheet_names)
    df=[pd.read_excel('Measurement data\\'+file, sheet_name=i, usecols=column_indices[selected_sheet_names.index(i)],ignore_index=True) for i in selected_sheet_names]
    df1=pd.concat(df[:],axis=1)
    df_all_files[file_names.index(file)]=df1

Provjera da li postoje podaci za svaki dan u opsegu 00:00 do 23:00. Na osnovu toga su određeni listovi (kolona: Datum i vrijeme) popunjeni satima koji nedostaju, a vrijednosti podataka su prazne ćelije.

In [113]:
def check_empty(trace,i):
    empty_cell=(trace['Datum i vrijeme'].isnull().values.any())
    if empty_cell==True:
        print("Empty_cell",i)
    else:
        pass

In [114]:
for i in range(len(df_all_files)): #check for all files
    print(i, end="\r") 
    check_empty(df_all_files[i],i)

In [115]:
df_all_files[32]

,Datum i vrijeme,Plin (m3),El.energija VT (kWh),El.energija MT (kWh),El.energija VT (kWh),El.energija MT (kWh),Voda (m3),Voda (m3),Voda (m3),El.energija VT (kWh),...,Vlažnost (%),Temperatura (°C),Vlažnost (%),Temperatura (°C),Vlažnost (%),Temperatura (°C),Vlažnost (%),Temperatura (°C),Vlažnost (%),Plin (m3)
0,02.04.2017 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,18635.84,12.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02.04.2017 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,18635.86,12.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02.04.2017 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,18635.90,12.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,02.04.2017 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,18635.94,12.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,02.04.2017 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,18636.02,12.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,02.04.2017 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,18636.10,12.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,02.04.2017 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,18636.18,12.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,02.04.2017 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,18636.26,12.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,02.04.2017 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,18636.36,12.3,NaN,...,NaN,NaN,NaN,24.72,27.02,24.11,29.12,12.38,53.26,NaN
9,02.04.2017 09:00:00,1475060.0,468609.4,309542.28,1531195.0,1417410.2,13994.48,18636.47,12.3,67287.0,...,27.46,22.56,31.14,25.70,26.15,24.29,29.66,16.42,44.69,103490.0
10,02.04.2017 10:00:00,1475060.0,468609.4,309548.08,1531195.0,1417446.8,13994.62,18636.62,12.3,67287.0,...,24.09,22.68,30.91,26.36,25.40,24.13,29.72,17.91,38.85,103490.0
11,02.04.2017 11:00:00,1475060.0,468609.4,309553.88,1531195.0,1417484.0,13994.79,18636.76,12.3,67287.0,...,23.66,22.76,30.91,26.81,25.36,23.99,28.61,19.13,33.38,103490.0
12,02.04.2017 12:00:00,1475060.0,468609.4,309559.56,1531195.0,1417521.4,13994.93,18636.89,12.3,67287.0,...,22.52,22.83,30.88,27.09,25.17,23.98,27.47,20.72,31.41,103490.0
13,02.04.2017 13:00:00,1475060.0,468609.4,309564.80,1531195.0,1417559.0,13995.08,18637.04,12.3,67287.0,...,22.57,22.91,30.86,27.14,25.24,24.02,27.47,21.98,28.66,103490.0
14,02.04.2017 14:00:00,1475060.0,468609.4,309570.20,1531195.0,1417597.4,13995.23,18637.17,12.3,67287.0,...,22.09,22.97,30.83,26.97,25.52,24.06,27.40,23.45,28.57,103490.0
15,02.04.2017 15:00:00,1475060.0,468609.4,309575.44,1531195.0,1417636.8,13995.40,18637.31,12.3,67287.0,...,22.96,23.03,30.80,26.59,26.04,24.08,27.97,23.29,27.13,103490.0
16,02.04.2017 16:00:00,1475060.0,468609.4,309580.44,1531195.0,1417676.4,13995.54,18637.45,12.3,67287.0,...,23.66,22.98,30.79,26.04,26.61,24.03,28.47,22.24,28.44,103490.0
17,02.04.2017 17:00:00,1475060.0,468609.4,309585.48,1531195.0,1417715.6,13995.67,18637.59,12.3,67287.0,...,24.37,22.92,30.89,25.64,26.98,23.97,28.18,21.49,29.61,103490.0
18,02.04.2017 18:00:00,1475060.0,468609.4,309590.52,1531195.0,1417754.8,13995.81,18637.72,12.3,67287.0,...,22.16,22.90,30.93,25.36,27.10,23.86,28.17,20.59,31.33,103490.0
19,02.04.2017 19:00:00,1475060.0,468609.4,309595.96,1531195.0,1417793.6,13995.94,18637.86,12.3,67287.0,...,23.88,22.74,31.09,25.10,27.34,23.76,28.02,19.12,37.46,103490.0
20,02.04.2017 20:00:00,1475060.0,468609.4,309602.12,1531195.0,1417832.2,13996.06,18637.99,12.3,67287.0,...,27.92,22.65,31.12,24.89,26.89,23.64,27.73,17.37,47.94,103490.0
21,02.04.2017 21:00:00,1475060.0,468609.4,309608.28,1531195.0,1417871.0,13996.18,18638.09,12.3,67287.0,...,28.99,22.59,31.22,24.75,26.81,23.57,28.08,15.85,50.95,103490.0
22,02.04.2017 22:00:00,1475060.0,468609.4,309614.84,1531195.0,1417908.8,13996.28,18638.17,12.3,67287.0,...,29.54,22.52,31.17,24.60,26.90,23.49,28.43,14.64,53.06,103490.0
23,02.04.2017 23:00:00,1475060.0,468609.4,309621.64,1531195.0,1417946.6,13996.38,18638.24,12.3,67287.0,...,30.22,22.47,31.21,24.48,27.04,23.41,28.67,13.62,56.53,103490.0

Spajanje dnevnih podataka u jedan veliki fajl za sve 3 godine:

In [116]:
df_total=pd.concat(df_all_files[:],axis=0, ignore_index=True)
df_total.tail()

,Datum i vrijeme,Plin (m3),El.energija VT (kWh),El.energija MT (kWh),El.energija VT (kWh),El.energija MT (kWh),Voda (m3),Voda (m3),Voda (m3),El.energija VT (kWh),...,Vlažnost (%),Temperatura (°C),Vlažnost (%),Temperatura (°C),Vlažnost (%),Temperatura (°C),Vlažnost (%),Temperatura (°C),Vlažnost (%),Plin (m3)
15122,31.12.2017 19:00:00,1509294.0,481853.36,365280.80,NaN,NaN,15278,NaN,NaN,67287.0,...,28.43,19.84,31.16,21.32,27.76,18.97,34.80,1.74,84.61,114606.0
15123,31.12.2017 20:00:00,1509294.0,481853.36,365289.96,NaN,NaN,15278,NaN,NaN,67287.0,...,28.74,19.77,31.22,21.16,27.89,18.86,34.79,1.37,85.76,114606.0
15124,31.12.2017 21:00:00,1509294.0,481853.36,365299.24,NaN,NaN,15278,NaN,NaN,67287.0,...,28.98,19.71,31.25,21.01,28.02,18.75,34.78,0.97,87.14,114606.0
15125,31.12.2017 22:00:00,1509294.0,481853.36,365308.56,NaN,NaN,15278,NaN,NaN,67287.0,...,29.11,19.62,31.28,20.89,28.08,18.65,34.77,0.50,87.71,114606.0
15126,31.12.2017 23:00:00,1509294.0,481853.36,365318.28,NaN,NaN,15278,NaN,NaN,67287.0,...,29.17,19.56,31.27,20.80,28.15,18.53,34.69,0.34,88.09,114606.0

Radi sortiranja po datumu, kreira se kolona "DATUM" koja koristi kolonu "Datum i vrijeme" da bi se izdvojio samo datum iz podataka.

In [117]:
df_total['DATUM'] = df_total["Datum i vrijeme"].apply(pd.to_datetime)

Pregled:

In [118]:
df_total

,Datum i vrijeme,Plin (m3),El.energija VT (kWh),El.energija MT (kWh),El.energija VT (kWh),El.energija MT (kWh),Voda (m3),Voda (m3),Voda (m3),El.energija VT (kWh),...,Temperatura (°C),Vlažnost (%),Temperatura (°C),Vlažnost (%),Temperatura (°C),Vlažnost (%),Temperatura (°C),Vlažnost (%),Plin (m3),DATUM
0,01.01.2016 00:00:00,3034444.0,393783.96,241848.80,1.27791e+06,1.17775e+06,NaN,NaN,NaN,67287.0,...,18.21,31.64,18.68,27.84,17.21,26.95,-2.82,62.20,95196.0,2016-01-01 00:00:00
1,01.01.2016 01:00:00,3034444.0,393784.92,241861.52,1.27791e+06,1.17779e+06,NaN,NaN,NaN,67287.0,...,18.12,31.63,18.54,27.72,17.00,26.93,-3.21,63.84,95196.0,2016-01-01 01:00:00
2,01.01.2016 02:00:00,3034444.0,393784.92,241874.96,1.27791e+06,1.17783e+06,NaN,NaN,NaN,67287.0,...,18.02,31.56,18.42,27.57,16.83,26.99,-4.09,66.08,95196.0,2016-01-01 02:00:00
3,01.01.2016 03:00:00,3034444.0,393784.92,241888.52,1.27791e+06,1.17788e+06,NaN,NaN,NaN,67287.0,...,17.91,31.51,18.31,27.42,16.65,27.05,-4.33,72.30,95196.0,2016-01-01 03:00:00
4,01.01.2016 04:00:00,3034444.0,393784.92,241902.04,1.27791e+06,1.17793e+06,NaN,NaN,NaN,67287.0,...,17.82,31.47,18.19,27.38,16.47,27.03,-4.91,68.61,95196.0,2016-01-01 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15122,31.12.2017 19:00:00,1509294.0,481853.36,365280.80,NaN,NaN,15278,NaN,NaN,67287.0,...,19.84,31.16,21.32,27.76,18.97,34.80,1.74,84.61,114606.0,2017-12-31 19:00:00
15123,31.12.2017 20:00:00,1509294.0,481853.36,365289.96,NaN,NaN,15278,NaN,NaN,67287.0,...,19.77,31.22,21.16,27.89,18.86,34.79,1.37,85.76,114606.0,2017-12-31 20:00:00
15124,31.12.2017 21:00:00,1509294.0,481853.36,365299.24,NaN,NaN,15278,NaN,NaN,67287.0,...,19.71,31.25,21.01,28.02,18.75,34.78,0.97,87.14,114606.0,2017-12-31 21:00:00
15125,31.12.2017 22:00:00,1509294.0,481853.36,365308.56,NaN,NaN,15278,NaN,NaN,67287.0,...,19.62,31.28,20.89,28.08,18.65,34.77,0.50,87.71,114606.0,2017-12-31 22:00:00
15126,31.12.2017 23:00:00,1509294.0,481853.36,365318.28,NaN,NaN,15278,NaN,NaN,67287.0,...,19.56,31.27,20.80,28.15,18.53,34.69,0.34,88.09,114606.0,2017-12-31 23:00:00

Promjena naziva kolona prema sheetovima iz kojih dolaze. Ovo je bilo neophodno jer se npr. kolona *Temperatura* i *Vlažnost* ponavljaju kroz sheet-ove pa da se zna odakle koja dolazi.

In [123]:
new_names=[selected_sheet_names[0],selected_sheet_names[0],selected_sheet_names[1],selected_sheet_names[1],selected_sheet_names[2],selected_sheet_names[2],
selected_sheet_names[3],selected_sheet_names[4],selected_sheet_names[5],selected_sheet_names[6],selected_sheet_names[6],selected_sheet_names[7],
selected_sheet_names[7],selected_sheet_names[8],selected_sheet_names[8],selected_sheet_names[9],
selected_sheet_names[9],selected_sheet_names[9],selected_sheet_names[9],selected_sheet_names[9],selected_sheet_names[10],
selected_sheet_names[10],selected_sheet_names[10],selected_sheet_names[10],selected_sheet_names[10],
selected_sheet_names[11],selected_sheet_names[11],selected_sheet_names[11],selected_sheet_names[11],selected_sheet_names[11],
selected_sheet_names[12],selected_sheet_names[12],selected_sheet_names[13],selected_sheet_names[13],
selected_sheet_names[11],selected_sheet_names[11],selected_sheet_names[12],selected_sheet_names[12],
selected_sheet_names[14],selected_sheet_names[14],selected_sheet_names[15],selected_sheet_names[15],
selected_sheet_names[16],selected_sheet_names[16],selected_sheet_names[17],selected_sheet_names[17],
selected_sheet_names[18],selected_sheet_names[18],selected_sheet_names[19], ""]

In [124]:
df_total=df_total.set_axis(list(df_total.columns+' '+new_names), axis='columns', inplace=False)

In [125]:
df_total.head()

,Datum i vrijeme Plinomjer ist.zgrada 00062313,Plin (m3) Plinomjer ist.zgrada 00062313,El.energija VT (kWh) Brojilo el.energije su 35649294,El.energija MT (kWh) Brojilo el.energije su 35649294,El.energija VT (kWh) Brojilo el.energije tr 35649314,El.energija MT (kWh) Brojilo el.energije tr 35649314,Voda (m3) Vodomjer stara 09249850,Voda (m3) Vodomjer nova 09249847,Voda (m3) Vodomjer hidrant 10058705,El.energija VT (kWh) Brojilo el.energije ko 46621646,...,Temperatura (°C) Temp.senzor un.4 24004658,Vlažnost (%) Temp.senzor un.4 24004658,Temperatura (°C) Temp.senzor un.5 24007590,Vlažnost (%) Temp.senzor un.5 24007590,Temperatura (°C) Temp.senzor un.6 24007412,Vlažnost (%) Temp.senzor un.6 24007412,Temperatura (°C) Temp.senzor un.7 24007548,Vlažnost (%) Temp.senzor un.7 24007548,Plin (m3) Temp.senzor un.8 24007403,DATUM
0,01.01.2016 00:00:00,3034444.0,393783.96,241848.80,1.27791e+06,1.17775e+06,NaN,NaN,NaN,67287.0,...,18.21,31.64,18.68,27.84,17.21,26.95,-2.82,62.20,95196.0,2016-01-01 00:00:00
1,01.01.2016 01:00:00,3034444.0,393784.92,241861.52,1.27791e+06,1.17779e+06,NaN,NaN,NaN,67287.0,...,18.12,31.63,18.54,27.72,17.00,26.93,-3.21,63.84,95196.0,2016-01-01 01:00:00
2,01.01.2016 02:00:00,3034444.0,393784.92,241874.96,1.27791e+06,1.17783e+06,NaN,NaN,NaN,67287.0,...,18.02,31.56,18.42,27.57,16.83,26.99,-4.09,66.08,95196.0,2016-01-01 02:00:00
3,01.01.2016 03:00:00,3034444.0,393784.92,241888.52,1.27791e+06,1.17788e+06,NaN,NaN,NaN,67287.0,...,17.91,31.51,18.31,27.42,16.65,27.05,-4.33,72.30,95196.0,2016-01-01 03:00:00
4,01.01.2016 04:00:00,3034444.0,393784.92,241902.04,1.27791e+06,1.17793e+06,NaN,NaN,NaN,67287.0,...,17.82,31.47,18.19,27.38,16.47,27.03,-4.91,68.61,95196.0,2016-01-01 04:00:00

Sortiranje po datumu:

In [126]:
df_total=df_total.sort_values(by="DATUM ")

In [128]:
df_total.head()

,Datum i vrijeme Plinomjer ist.zgrada 00062313,Plin (m3) Plinomjer ist.zgrada 00062313,El.energija VT (kWh) Brojilo el.energije su 35649294,El.energija MT (kWh) Brojilo el.energije su 35649294,El.energija VT (kWh) Brojilo el.energije tr 35649314,El.energija MT (kWh) Brojilo el.energije tr 35649314,Voda (m3) Vodomjer stara 09249850,Voda (m3) Vodomjer nova 09249847,Voda (m3) Vodomjer hidrant 10058705,El.energija VT (kWh) Brojilo el.energije ko 46621646,...,Temperatura (°C) Temp.senzor un.4 24004658,Vlažnost (%) Temp.senzor un.4 24004658,Temperatura (°C) Temp.senzor un.5 24007590,Vlažnost (%) Temp.senzor un.5 24007590,Temperatura (°C) Temp.senzor un.6 24007412,Vlažnost (%) Temp.senzor un.6 24007412,Temperatura (°C) Temp.senzor un.7 24007548,Vlažnost (%) Temp.senzor un.7 24007548,Plin (m3) Temp.senzor un.8 24007403,DATUM
312,01.10.2015 00:00:00,3009985.0,371651.16,230421.12,1.22569e+06,1.13019e+06,NaN,NaN,NaN,67287.0,...,21.74,42.62,22.26,38.66,21.06,44.52,11.14,80.24,85344.0,2015-01-10 00:00:00
313,01.10.2015 01:00:00,3009985.0,371651.16,230427.44,1.22569e+06,1.13022e+06,NaN,NaN,NaN,67287.0,...,21.68,42.55,22.22,38.66,20.98,44.38,11.12,79.87,85344.0,2015-01-10 01:00:00
314,01.10.2015 02:00:00,3009985.0,371651.16,230433.52,1.22569e+06,1.13026e+06,NaN,NaN,NaN,67287.0,...,21.64,42.48,22.17,38.72,20.92,44.31,10.88,83.93,85344.0,2015-01-10 02:00:00
315,01.10.2015 03:00:00,3009985.0,371651.16,230440.12,1.22569e+06,1.13029e+06,NaN,NaN,NaN,67287.0,...,21.60,42.51,22.12,38.78,20.84,44.23,10.86,83.88,85344.0,2015-01-10 03:00:00
316,01.10.2015 04:00:00,3009985.0,371651.16,230446.64,1.22569e+06,1.13032e+06,NaN,NaN,NaN,67287.0,...,21.58,42.47,22.07,38.91,20.79,44.19,10.80,85.09,85344.0,2015-01-10 04:00:00

Spašavanje fajla:

In [127]:
df_total.to_excel("Merged files.xlsx", index=False)